<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team5.courseassignment"
    
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <permission
        android:name="com.team5.MapActivity.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    
    <uses-permission android:name="com.team5.MapActivity.permission.MAPS_RECEIVE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        android:name="android.hardware.camera"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
                
		<activity
            android:name="com.team5.courseassignment.activities.RegistrationActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.team5.courseassignment.activities.LoginActivity"
            android:label="@string/app_name" > 
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.team5.courseassignment.activities.FollowerProfileActivity"
            android:label="@string/app_name" >   
        </activity> 
        
        <activity
    		android:name="com.team5.courseassignment.activities.MapActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
 			android:name="com.team5.courseassignment.activities.CheckinActivity"
            android:label="@string/check_in_title" >
        </activity>

        <activity
    		android:name="com.team5.courseassignment.activities.ReviewActivity"
            android:label="@string/review_title" >
        </activity>
        
        <activity
            android:name="com.team5.courseassignment.activities.ForgottenPasswordActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.team5.courseassignment.activities.SettingsActivity"
            android:label="@string/settings_title" 
            android:theme="@style/PreferencesThemeText" >
        </activity>
        
        <activity			android:name="com.team5.courseassignment.activities.ProfileActivity"
            android:label="@string/profileTitle" 
             >
        </activity>
        
        <activity
			android:name="com.team5.courseassignment.activities.AccountActivity"
            android:label="@string/accountTitle" 
             >
        </activity>
        
		<!-- Pascal's Key -->
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyACt4avZnwlzfzHLfHlj91Sg7ld8jJLEPo"/>
        
        <!-- Alena's Key -->
        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyCly2bHB8M2cKf1U02Oc25tKyk_A8PCrIk" />
        
        <!-- Shamil's key -->
         <meta-data
 		    android:name="com.google.android.maps.v2.API_KEY"
 		    android:value="AIzaSyCyD-Vi2CxxSNdIkGBQh7J6xISrc9OaZSE"/>
        
    </application>

</manifest>
